@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.search {
  position: relative;
  height: 50px;
}

.search .input {
  background-color: #fff;
  width: 0px;
  height: 50px;
  border: 0;
  font-size: 24px;
  padding: 15px;
  transition: width 0.4s ease, border-radius 1s ease;
  border-radius: 10px 0 0 10px;
}

.btn {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  font-size: 24px;
  width: 50px;
  height: 50px;
  transition: transform 0.4s ease;
  border: 0;
  border-radius: 10px;
}

.btn:focus,
.input:focus {
  outline: none;
}

.btn.active {
  transform: translateX(200px);
  border-radius: 0px 10px 10px 0px;
}

.input.active {
  width: 200px;
  height: 50px;
}
